body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  color: #3e3e3e;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
.header {
  background-image: linear-gradient(
      to right,
      rgba(206, 149, 92, 0.3),
      rgba(255, 0, 0, 0) 70.71%
    ),
    url("img/apple-256263_1920.png");
  background-size: cover;
  width: 100%;
  height: 800px;
  text-align: center;
  color: white;
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 70px;
}
.logo {
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 52px;
  color: white;
  padding-right: 80px;
}
.navigation {
  display: inline-block;
  vertical-align: top;
  position: relative;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 25px;
  color: white;
  padding-right: 70px;
}
.navigation:last-child {
  padding-right: 0;
}
.navigation:after {
  content: "";
  display: block;
  width: 60%;
  height: 1px;
  opacity: 0;
  background-color: #fff;
  position: absolute;
  top: 50px;
  left: 12px;
  transition: opacity 0.2s linear;
}
.navigation:hover:after {
  opacity: 1;
}
.firsth {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 60px;
  margin: 0 70px 70px 255px;
}
.sub_text {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 35px;
  margin-left: 170px;
}
.email,
.password {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  padding-left: 20px;
  width: 350px;
  height: 60px;
  margin-bottom: 40px;
  border: none;
  border-radius: 2px;
}
.button {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  width: 370px;
  height: 60px;
  background-color: #ba271f;
  color: white;
  border-width: 1px;
  border-color: white;
  border-radius: 2px;
  border-style: solid;
  cursor: pointer;
}
.form {
  margin: 50px 0 0 600px;
}
.perevagi {
  text-align: center;
  background-color: #fffcf4;
}
.perevagi-heading {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 45px;
  padding: 45px 0 40px 0;
}
.perevagi-logo {
  padding-bottom: 100px;
}
.firsttwoperevaga {
  margin-right: 165px;
}
.lasttwoperevaga {
  margin-left: 165px;
}
.perevagi-span {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 30px;
  margin-top: 25px;
}
.perevagi-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
}
.perevagi-main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.perevaga-box {
  line-height: 1;
  margin-bottom: 70px;
}
.courses {
  text-align: center;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  background-color: #f0f0f0;
  color: #3e3e3e;
  line-height: 0.8;
  font-weight: 400;
  padding-bottom: 25px;
}
.courses-img {
  padding: 25px 25px 25px 0;
}
.courseh {
  font-size: 45px;
  padding: 50px 0 25px 0;
  font-weight: 400;
}
.coursep {
  font-size: 25px;
  padding-bottom: 50px;
}
.other-course {
  width: 540px;
  display: flex;
  background-color: #e8e8e8;
  align-items: center;
  margin: 0 30px 20px 0;
}
.course-header {
  font-size: 25px;
}
.course-text {
  margin: 0 20px;
  line-height: 1.5;
  height: 275px;
}
.course-description {
  font-size: 16px;
  text-align: left;
  margin-top: 5px;
  line-height: 2;
}
.button2 {
  width: 160px;
  height: 30px;
  background-color: #ba271f;
  color: white;
  border-width: 1px;
  border-color: white;
  border-radius: 2px;
  border-style: solid;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 9px;
  margin: 23px 0 0 60px;
}
.readmore {
  text-decoration: none;
  color: #fa3a5e;
  justify-content: left;
  margin-right: 155px;
}
.generalbox-courses {
  display: flex;
  justify-content: center;
}
.parthners {
  background-color: #fffcf4;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
.parthnerstitle {
  font-family: "Open Sans", sans-serif;
  font-size: 45px;
  padding: 40px 0;
  font-weight: 400;
}
.parth {
  margin-right: 30px;
}
.allparthners {
  display: flex;
  align-items: center;
  justify-content: center;
}
.parthner-name {
  font-size: 25px;
  margin: 25px 0 50px 0;
}
.case {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border: solid 3px;
  border-color: #ba281f;
  border-radius: 100%;
  margin-right: 40px;
  margin-bottom: 120px;
}
i {
  border: solid #ba281f;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 10px;
  margin-left: 8px;
}
.left {
  transform: rotate(135deg);
}
.right {
  transform: rotate(-45deg);
  margin-right: 18px;
}
.certificate {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #ece9e5;
  display: flex;
  justify-content: center;
  background-image: url("img/education.png");
  background-size: cover;
  height: 400px;
}
.certificatetitle {
  font-size: 35px;
  font-weight: 300;
  margin-bottom: 20px;
  padding-left: 15px;
}
.certificatetext {
  font-family: "Lato", sans-serif;
  line-height: 2;
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 50px;
}
.certificateinfo {
  margin: 35px 0 0 665px;
}
.button3 {
  width: 260px;
  height: 60px;
  background-color: #ba271f;
  color: white;
  border-width: 1px;
  border-color: white;
  border-radius: 2px;
  border-style: solid;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 21px;
}
.team {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lato", sans-serif;
}
.developers {
  text-align: center;
  background-color: #fffcf4;
  padding-bottom: 40px;
}
.team-name {
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 22px;
  font-weight: 700;
}
.team-info {
  font-size: 15px;
  margin-bottom: 15px;
  font-weight: 600;
  line-height: 1.5;
}
.social {
  margin-right: 15px;
}
.personalcard {
  margin-right: 30px;
}
.developerstitle {
  font-family: "Open Sans", sans-serif;
  font-size: 45px;
  padding: 40px 0;
  font-weight: 400;
}
.footer {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  background-color: #a99473;
  width: 100%;
  color: #f3f3f3;
}
.footertitle {
  font-size: 60px;
  padding-top: 35px;
  font-weight: 400;
}
.footertext {
  font-size: 25px;
  padding-bottom: 25px;
}
.footer-name,
.footer-email {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 25px;
  padding-left: 35px;
  width: 500px;
  height: 60px;
  margin-bottom: 40px;
  border: none;
  border-radius: 2px;
  margin-left: 60px;
}
.button4 {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 25px;
  width: 155px;
  height: 60px;
  background-color: #ba271f;
  color: white;
  border: none;
  cursor: pointer;
  margin-left: 60px;
  margin-bottom: 100px;
}
.footerinf {
  font-size: 25px;
  padding-bottom: 10px;
  font-weight: 400;
  margin-left: 40px;
}
.footer-social {
  margin: 30px 0 0 80px;
}
.footer-social2 {
  margin: 5px 0 0 80px;
  padding-bottom: 20px;
}
.soical {
  margin-right: 45px;
}
.soical:last-child {
  margin-right: 0;
}

@media screen and (max-width: 1440px) {
  .firsth {
    font-size: 50px;
  }
  .sub_text {
    font-size: 25px;
  }
  .certificate {
    background-repeat: round;
  }
  .case {
    display: none;
  }
}
@media screen and (max-width: 1280px) {
  .nav {
    flex-direction: column;
  }
  .navigation:last-child {
    padding-right: 800px;
  }
  .firsth,
  .sub_text {
    margin: 0;
  }
  .firsth {
    position: absolute;
    top: 32px;
    right: 20px;
    font-size: 40px;
  }
  .sub_text {
    position: absolute;
    top: 100px;
    right: 31px;
    font-size: 20px;
  }
  .form {
    margin: 0 0 0 600px;
  }
  .nav {
    padding-top: 35px;
  }
  .logo,
  .navigation {
    padding-right: 800px;
  }
}
@media screen and (max-width: 1200px) {
  .allparthners,
  .generalbox-courses,
  .team {
    flex-direction: column;
  }
  .generalbox-courses {
    align-items: center;
  }
  .logo,
  .navigation {
    padding-right: 600px;
  }
  .navigation:last-child {
    padding-right: 600px;
  }
  .parth,
  .personalcard {
    margin: 0;
  }
}
@media screen and (max-width: 1050px) {
  .firsth {
    font-size: 35px;
  }
  .sub_text {
    font-size: 15px;
  }
  .form {
    margin: 0 0 0 400px;
  }
  .certificateinfo {
    margin: 20px 0 0 500px;
  }
}
@media screen and (max-width: 930px) {
  .form {
    margin: 100px 0 0 0;
  }
  .firsth {
    top: 320px;
    right: 95px;
  }
  .sub_text {
    top: 380px;
    right: 100px;
  }
  .logo,
  .navigation {
    padding-right: 320px;
  }
  .navigation:last-child {
    padding-right: 320px;
  }
  .perevagi-logo {
    display: none;
  }
  .firsttwoperevaga,
  .lasttwoperevaga {
    margin-right: 0;
    margin-left: 0;
  }
}
@media screen and (max-width: 850px) {
  .certificatetext {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 810px) {
  .certificateinfo {
    margin: 10px 0 0 410px;
  }
}
@media screen and (max-width: 500px) {
  .certificateinfo {
    margin: 10px 0 0 20px;
    color: black;
  }
  .certificate {
    background-repeat: no-repeat;
  }
  .other-course {
    width: 290px;
    flex-direction: column-reverse;
    margin: 0;
  }
  .footertitle {
    font-size: 40px;
  }
  .footer-name,
  .footer-email {
    width: 270px;
    margin-left: 0;
  }
  .button4,
  .footerinf,
  .footer-social,
  .footer-social2 {
    margin-left: 0;
  }
  .nav {
    padding-top: 5px;
  }
  .logo,
  .navigation {
    padding-right: 0;
  }
  .navigation:last-child {
    padding-right: 0;
  }
  .firsth {
    top: 280px;
    right: 10px;
  }
  .form {
    margin: 150px 0 0 0;
  }
  .sub_text {
    top: 380px;
    right: 20px;
  }
  .courses-img {
    padding: 20px 0 0 0;
  }
}
@media screen and (max-width: 425px) {
  .parthnerstitle,
  .courseh,
  .perevagi-heading,
  .developerstitle,
  .footertitle {
    font-size: 30px;
  }
  .email,
  .password,
  .button {
    width: 310px;
  }
  .perevagi-span {
    font-size: 20px;
  }
  .perevagi-text {
    font-size: 10px;
  }
}
@media screen and (max-width: 375px) {
  .email,
  .password,
  .button {
    width: 275px;
  }
  .footerinf {
    font-size: 15px;
  }
  .certificatetext {
    margin-bottom: 25px;
  }
}
